name: CI - Build & Pousser dans GHCR

on:
  push:
    tags:
      - "v*"

jobs:
  test-and-push:
    name: Construire et publier l’image Docker
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write
      id-token: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0 

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest

      - name: Run tests
        run: pytest

      - name: Vérifier que le tag pointe sur un commit de main
        run: |
          git fetch origin main --depth=1000
          BRANCH=$(git branch -r --contains ${{ github.sha }} | grep origin/main || true)
          if [ -z "$BRANCH" ]; then
            echo "Le tag n'est pas attaché à un commit de main. Fin du workflow."
            exit 1
          else
            echo "Le tag est bien attaché à un commit de main."
          fi
        shell: bash

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_PAT }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ghcr.io/datalab-registry/es_api_prod3:${{ github.ref_name }}
